# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Data & Model files
data/processed/
data/evaluation/
model/
results/

# Logs & system files
*.log
*.csv
*.gz

# Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/
